
<div class="slider text-center">
		  <h3> About Us</h3>
		  <nav class="contactBottum">
               <a href="#">home</a>
				<span>/</span>
				<span>About Us</span>
		</nav>
	  </div>

		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					<div class="section__title text-center custom-h5-about">
							{{!-- <h2 class="title__be--2">Rent <span class="color--theme">Textbooks </span></h2> --}}
							<h5 class="cutom-h5">BookaByte is Australia’s leading one-stop e-commerce search engine that saves you time and money by comparing buying, rental and selling prices of textbooks, books and e-books from trusted and reliable online bookstores and presenting you with the best price</h5><hr style="text-align: center; margin-top: 20px;">
						</div>
						<div class="col-12"></div>
                    <div class="section__title text-center custom-h5-about">
                            <ul class="custom-ul">
                                <li class="rent-custom-li"><p>Headquartered in Sydney, Australia, BookaByte and its team of current and past students employ superior customer service and cutting edge technology to make the experience of buying and selling of textbooks easier, faster and more cost effective.
                                </p></li>
                                <li class="rent-custom-li"><p>BookaByte users save between 50% to 90% on textbooks per year. So a BioChem student for example, who spends an average of $1,000 per year on books saves a whooping $500 plus  – that’s great saving, right?
                                </p></li>
                                <li class="rent-custom-li"><p>Because we are always on the lookout for ways to make your student life easier, we’ve built a powerful university and college textbook price comparison engine that scans the web for the lowest prices possible and shows you all the alternatives in a simple and easy to navigate website with unique displays from your favourite bookshops.  Through partnerships and active affiliations, we are able to aggregate the online inventories of major bookstores into a single website – saving you time and money.

                                </p></li>
                                
                            </ul>
                    </div>
							
					</div>
				</div>
				
			</div>
		</section>

        



      
<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2> Our Believe, Your Trust!</h2>
						</div>
						<div class="newsletter__block text-center">
                            <ul>
                                <li><p>We believe that buying and selling Uni and College textbooks should be hassle free. So you can focus on the most important things – like your studies! Our data-driven and creative approach to finding cheap deal on your textbooks makes it so.
</p></li>
                                
                            </ul>
								<div class="newsletter__box">
								<a href="/join"><button>Sell TextBooks </button></a>	
								</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

        