
<div class="slider text-center">
		  <h3> Rent-Books</h3>
		  <nav class="contactBottum">
               <a href="#">home</a>
				<span>/</span>
				<span>Rent-Books</span>
		</nav>
	  </div>


      		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					<div class="section__title text-center">
							{{!-- <h2 class="title__be--2">Rent <span class="color--theme">Textbooks </span></h2> --}}
							<h5 class="cutom-h5">Another way to find textbooks is by renting. Access dozens of Bookabyte’s textbook affiliate rental sites to find the lowest prices and deals</h5><hr style="text-align: center; margin-top: 20px;">
						</div>
					</div>
				</div>
				
			</div>
		</section>

        <section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					<div class="section__title text-center">
							<h2 class="title__be--2 rent-custom-li">Is TextBook Rental right <span class="color--theme">for me?</span></h2>
						</div>
					</div>
				</div>
				<!-- Start Single Tab Content -->
				<div class="row">
                    <div class="col-2"></div>
                    <div class="col-5"><h5 class="rent-custom">Absolutely if…</h5><hr style="width:50%">
                            <ul>
                                <li class="rent-custom-li"><p>You want to save BIG of textbook cost</p></li>
                                <li class="rent-custom-li"><p>You don’t intend to keep the book at the end of semester</p></li>
                                <li class="rent-custom-li"><p>You take good care of book</p></li>
                            </ul>
                    </div>
                    <div class="col-5"><h5 class="rent-custom">Not recommended if…</h5><hr style="width:50%">
                            <ul>
                                <li class="rent-custom-li"><p>You want to keep the book for future reference </p></li>
                                <li class="rent-custom-li"><p>You want to make marks or highlight text in the books</p></li>
                                <li class="rent-custom-li"><p>You want to earn some extra cash by selling them later</p></li>
                            </ul>
                    </div>
                    <div class="col-2"></div>
                </div>
				<!-- End Single Tab Content -->
			</div>
		</section>



      
<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2> Why rent Via BookaByte?</h2>
						</div>
						<div class="newsletter__block text-center">
                            <ul>
                                <li><p>Rent textbooks for a flexible period</p></li>
                                <li><p>Rental price often includes tax, shipping, and coupon</p></li>
                            </ul>
								<div class="newsletter__box">
								<a href="/join"><button>Rent-Books </button></a>	
								</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

        