
<div class="slider text-center">
		  <h3> Sell-Books</h3>
		  <nav class="contactBottum">
               <a href="#">home</a>
				<span>/</span>
				<span>Sell-Books</span>
		</nav>
	  </div>

		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					<div class="section__title text-center">
							{{!-- <h2 class="title__be--2">Rent <span class="color--theme">Textbooks </span></h2> --}}
							<h5 class="cutom-h5">After making huge savings why not make an income while you are at it?. Don’t let your old textbooks sit on the shelf and gather dust. Why not exchange them for some extra cash?</h5><hr style="text-align: center; margin-top: 20px;">
						</div>
						<div class="col-12"></div>
                    <div class="section__title text-center">
                            <ul class="custom-ul">
                                <li class="rent-custom-li"><p>You can sell directly to other students on-campus by listing them on BookaByte or</p></li>
                                <li class="rent-custom-li"><p>Compare textbook buyback price offers from our partner booksellers and choose the best price to ensure that you are receiving the highest offer for your books. </p></li>
                                
                            </ul>
                    </div>
							
					</div>
				</div>
				
			</div>
		</section>

        



      
<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2> Why Sell via BookaByte?</h2>
						</div>
						<div class="newsletter__block text-center">
                            <ul>
                                <li><p>Its quick and easy</p></li>
                                <li><p>Our partner bookstores compete to buy your books</p></li>
																<li><p>You select the best buyback price from competing stores</p></li>
																<li><p>We’re Australia’s #1 book comparison site</p></li>
																<li><p>No hidden charges - It’s absolutely free</p></li>
                            </ul>
								<div class="newsletter__box">
								<a href="/join"><button>Sell TextBooks </button></a>	
								</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

        